name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  publish-package:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade poetry
        poetry install

    - name: Build package
      run: poetry build

    - name: Publish package
      run: |
        poetry config http-basic.pypi "__token__" "${{ secrets.PYPI_TOKEN }}"
        poetry publish
